{% extends "todo/base.html" %}

{% block content %}


{% if object_list %}

<h3>All Tasks</h3>

{% endif %}

<ul>

    {% for todolist in object_list %}

    <li>

        <div

            role="button"

            onclick="location.href='{% url "list" todolist.id %}'">

            {{ todolist.title }}

        </div>

    </li>

    {% empty %}

    <h4>You have no lists!</h4>

    {% endfor %}

</ul>
<p>
  <input
      value="Add a new task"
      type="button"
      onclick="location.href='{% url "list-add" %}'"/>
</p>


{% endblock %}

